-i https://pypi.org/simple
alabaster==0.7.12
attrdict==2.0.0
babel==2.6.0
cairocffi==0.9.0
cairosvg==2.2.1 ; python_version >= '3.3'
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
docutils==0.14
idna==2.7
imagesize==1.1.0
jinja2==2.10
markupsafe==1.1.0
packaging==18.0
pillow==5.3.0
pycparser==2.19
pygments==2.3.0
pyparsing==2.3.0
pytz==2018.7
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.4.2
sphinx==1.8.2
sphinxcontrib-wavedrom==2.0.0
sphinxcontrib-websupport==1.1.0
svgwrite==1.2.1
tinycss2==0.6.1
urllib3==1.24.1
wavedrom==0.1
webencodings==0.5.1
xcffib==0.6.0 ; python_version >= '3.3'
